<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/estilos6.css">
    <title>Aviso Legal</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="../index.html" class="active">Inicio</a>
            <a href="galeria.html">Galería</a>
            <a href="presupuesto.html">Presupuesto</a>
            <a href="contacto.html">Contacto</a>
        </nav>
        <div class="hero">
            <h1>Aviso Legal</h1>
            <a href="#aviso-legal" class="enlace"> Más información</a>  
            <a href="#aviso-legal" class="flecha"><img src="../images/arrow-circle-down-svgrepo-com.svg" alt="flecha" width="50" height="50"></a>
        </div>
    </header>
    <main>
       <section id="aviso-legal">
        <h2>Aviso Legal</h2>
        <p>El sitio web lamuralla.com es operado por La Muralla. El acceso y uso de este sitio están sujetos a los siguientes términos y condiciones:</p>
        <ul>
            <li>El contenido de este sitio es propiedad exclusiva de La Muralla y está protegido por derechos de autor.</li>
            <li>Los usuarios pueden utilizar el contenido del sitio únicamente para fines personales y no comerciales.</li>
            <li>No nos hacemos responsables de los daños derivados del uso incorrecto del sitio.</li>
            <li>Este sitio utiliza cookies para mejorar la experiencia del usuario. Puedes consultar nuestra <a href="politica-priv.html">Política de Privacidad</a> para más detalles.</li>
            <li>En caso de conflicto, la legislación aplicable será la de [jurisdicción] y los tribunales de [ubicación].</li>
        </ul>
    </section> 
    </main>
    <footer>
        <div class="footercontainer">
            <div class="footersection1">
                <img src="../images/logo.png" alt="logo La Muralla" width="100" height="100">
                <h4>La Muralla</h4>
                <p>El mejor aceite de oliva virgen extra de Mijas.</p>
                <p>&copy; 2024 La Muralla. Todos los derechos reservados.</p>
            </div>
            <div class="footersection2">
                <h4>Enlaces</h4>
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="galeria.html">Galeria</a>
                    </li>
                    <li>
                        <a href="presupuesto.html">Presupuesto</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                    <li>
                        <a href="politica-priv.html">Política de Privacidad</a>
                    </li>
                    <li>
                        <a href="aviso-legal.html">Aviso Legal</a>
                    </li>
                </ul>
            </div>
            <div class="footersection3">
                <h4>Síguenos</h4>
                <a href="https://www.facebook.com/login/?locale=es_ES" target="_blank"><img src="../images/facebook-svgrepo-com.svg" alt="Logo Facebook" width="20" height="30"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram-svgrepo-com.svg" alt="Logo Instagram" width="30" height="30"></a>
            </div>
        </div>
    </footer>
</body>
</html>
