<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Descubre La Muralla, aceite de oliva virgen extra de variedad verdial, originario de Mijas, Málaga. Calidad y sabor auténtico andaluz en cada gota.
    ">
    <meta name="keywords" content="aceite de oliva virgen extra, aceite mijas, aceite verdial, verdial malaga, aceite saludable, aceite andaluz,">
    <title>Contacto | La Muralla</title>
    <link rel="stylesheet" href="../CSS/estilos4.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="../index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="presupuesto.html">Presupuesto</a>
            <a href="contacto.html" class="active">Contacto</a>
        </nav>
        <div class="hero">
           <h1>Visita nuestras instalaciones y saborea lo mejor de Mijas</h1>
           <a href="#contacto" class="enlace">Más información</a> 
           <a href="#contacto" class="flecha"><img src="../images/arrow-circle-down-svgrepo-com.svg" alt="flecha" height="50" width="50"></a> 
        </div> 
    </header>
    <main>
        <section class="contenido" id="contacto">
            <div class="contact">
                <h2>Contacto</h2><br>
                <ul>
                    <li>
                        <h3>Dirección</h3>
                        <p>29650, Mijas, Málaga</p>
                    </li>
                    <li>
                        <h3>Teléfono</h3>
                        <p>+34 952 XXX XXX</p>
                    </li>
                    <li>
                        <h3>Correo electrónico</h3>
                        <p>info@lamuralla.com</p>
                    </li>
                    <li>
                        <h3>Horario de atención al público:</h3>
                        <p>De lunes a viernes: 9:00-14:00 y de 16:00-18:00</p>
                    </li>
                    <li>
                        <h3>Redes Sociales:</h3>
                            <ul>
                                <li>Facebook: @lamuralla</li>
                                <li>Instagram: @lamuralla</li>
                            </ul>
                    </li>
                </ul>
            </div>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3809.34654649013!2d-4.633330399771212!3d36.59590559405299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72e3e4d3ccbaeb%3A0x58142840342e7f72!2sMijas%20Pueblo!5e0!3m2!1ses!2ses!4v1731525370898!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>  
    </main>
    <footer>
        <div class="footercontainer">
            <div class="footersection1">
                <img src="../images/logo.png" alt="logo La Muralla" height="100" width="100">
                <h4>La Muralla</h4>
                <p>El mejor aceite de oliva virgen extra de Mijas.</p>
                <p>&copy; 2024 La Muralla. Todos los derechos reservados.</p>
            </div>
            <div class="footersection2">
                <h4>Enlaces</h4>
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="galeria.html">Galeria</a>
                    </li>
                    <li>
                        <a href="presupuesto.html">Presupuesto</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                    <li>
                        <a href="politica-priv.html">Política de Privacidad</a>
                    </li>
                    <li>
                        <a href="aviso-legal.html">Aviso Legal</a>
                    </li>
                </ul>
            </div>
            <div class="footersection3">
                <h4>Síguenos</h4>
                <a href="https://www.facebook.com/login/?locale=es_ES" target="_blank"><img src="../images/facebook-svgrepo-com.svg" alt="Logo Facebook" width="20" height="30"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram-svgrepo-com.svg" alt="Logo Instagram" width="30" height="30"></a>
            </div>
        </div>
    </footer>
</body>
</html>