<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Descubre La Muralla, aceite de oliva virgen extra de variedad verdial, originario de Mijas, Málaga. Calidad y sabor auténtico andaluz en cada gota.
    ">
    <meta name="keywords" content="aceite de oliva virgen extra, aceite mijas, aceite verdial, verdial malaga, aceite saludable, aceite andaluz,">
    <title>Galeria | La Muralla</title>
    <link rel="stylesheet" href="../CSS/estilos2.css">
</head>
<body>
    <header>
       <nav class="nav-bar">
            <a href="../index.html">Inicio</a>
            <a href="galeria.html" class="active">Galeria</a>
            <a href="presupuesto.html">Presupuesto</a>
            <a href="contacto.html">Contacto</a>
        </nav> 
        <div class="hero">
            <h1>Mijas: rincón andaluz lleno de tradición mediterránea</h1>
            <a href="#origen" class="enlace">Más información</a>
            <a href="#origen" class="flecha"><img src="../images/arrow-circle-down-svgrepo-com.svg" alt="flecha" height="50" width="50"></a>
        </div>
    </header>
    <main>
        <section class="contenido" id="origen">
            <div class="contenedor-txt">
                <h2>El origen de La Muralla</h2><br>
                <p><span>La esencia de La Muralla nace en Mijas, un encantador municipio de la Costa del Sol situado en la Sierra de Mijas.</span></p><br>
                <p>Este pueblo andaluz alberga numerosos monumentos y rincones llenos de historia, entre los cuales destaca La Muralla, una antigua fortaleza árabe que, en su día, fue el corazón de la villa. Hoy, La Muralla es uno de los miradores más impresionantes de la Costa del Sol, ofreciendo vistas panorámicas y una ruta botánica que revela la belleza de más de 140 especies autóctonas y exóticas.</p><br>
                <a href="#galeria">Descubre Mijas</a>
            </div>
            <div class="contenedor-img">
              <img src="../images/muralla.jpg" alt="muralla de Mijas">  
            </div>
        </section>
        <section class="contenido-galeria" id="galeria">
            <div class="cuadro-txt">
                <h2>Galería de fotos</h2><br>
                <p>Descubre los rincones mágicos de <span>Mijas</span></p>
            </div>
            <div class="photos">
                <div class="item-a">
                    <img src="../images/panoramica.jpg" alt="panorámica de Mijas" class="gallery-img">
                </div>
                <div>
                    <img src="../images/burro.jpg" alt="burro con traje tradicional" class="gallery-img">
                </div>
                <div class="item-b">
                    <img src="../images/calle1.jpg" alt="calle de Mijas pueblo" class="gallery-img">
                </div>
                <div class="item-c">
                    <img src="../images/aceitunas.jpg" alt="aceitunas" class="gallery-img">
                </div>
                <div class="item-d">
                    <img src="../images/muralla.jpg" alt="mirador la muralla en Mijas" class="gallery-img">
                </div>
                <div>
                    <img src="../images/playa.jpg" alt="playa de La Cala de Mijas" class="gallery-img">
                </div>
                <div>
                    <img src="../images/garrapiñadas.jpg" alt="almendras garrapiñadas" class="gallery-img">
                </div>
                <div>
                    <img src="../images/campogolf.jpg" alt="campo de golf" class="gallery-img">
                </div>
            </div>
        </section>
        <div id="contenedor-principal">
            <div id="contenedor-interno">
                <img src="../images/panoramica.jpg" alt="panorámica de Mijas" id="img-activa">
                <button id="btn-cierre" type="button">&times;</button>
                <button id="btn-retrocede" type="button">&lt;</button>
                <button id="btn-adelante" type="button">&gt;</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="footercontainer">
            <div class="footersection1">
                <img class="logo" src="../images/logo.png" alt="logo La Muralla" height="100" width="100">
                <h4>La Muralla</h4>
                <p>El mejor aceite de oliva virgen extra de Mijas.</p>
                <p>&copy; 2024 La Muralla. Todos los derechos reservados.</p>
            </div>
            <div class="footersection2">
                <h4>Enlaces</h4>
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="galeria.html">Galeria</a>
                    </li>
                    <li>
                        <a href="presupuesto.html">Presupuesto</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                    <li>
                        <a href="politica-priv.html">Política de Privacidad</a>
                    </li>
                    <li>
                        <a href="aviso-legal.html">Aviso Legal</a>
                    </li>
                </ul>
            </div>
            <div class="footersection3">
                <h4>Síguenos</h4>
                <a href="https://www.facebook.com/login/?locale=es_ES" target="_blank"><img src="../images/facebook-svgrepo-com.svg" alt="Logo Facebook" width="20" height="30"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram-svgrepo-com.svg" alt="Logo Instagram" width="30" height="30"></a>
            </div>
        </div>
    </footer>
    <script src="../js/galeria.js"></script>
</body>
</html>