<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad</title>
    <link rel="stylesheet" href="../CSS/estilos5.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="../index.html">Inicio</a>
            <a href="galeria.html">Galería</a>
            <a href="presupuesto.html">Presupuesto</a>
            <a href="contacto.html">Contacto</a>
        </nav>
        <div class="hero">
            <h1>Política de Privacidad</h1>
            <a href="#politica-priv" class="enlace"> Más información</a>  
            <a href="#politica-priv" class="flecha"><img src="../images/arrow-circle-down-svgrepo-com.svg" alt="flecha" width="50" height="50"></a>
        </div>
    </header>
    <main>
        <h2 id="politica-priv">Política de Privacidad</h2>
        <p>En La Muralla, respetamos tu privacidad y nos comprometemos a proteger tus datos personales. Esta política explica cómo recopilamos, usamos, compartimos y protegemos tu información cuando visitas nuestro sitio web.</p>

        <h3>1. Información que Recopilamos</h3>
        <p>Recopilamos los siguientes tipos de información:</p>
        <ul>
            <li>Información personal proporcionada por ti: nombre, correo electrónico, número de teléfono.</li>
            <li>Información recopilada automáticamente: dirección IP, datos del navegador, cookies.</li>
        </ul>

        <h3>2. Cómo Usamos la Información</h3>
        <p>Usamos la información recopilada para:</p>
        <ul>
            <li>Mejorar nuestra página web y personalizar tu experiencia.</li>
            <li>Enviar correos electrónicos relacionados con tu cuenta o productos solicitados.</li>
            <li>Analizar el uso del sitio para mejorar su rendimiento.</li>
        </ul>

        <h3>3. Uso de Cookies</h3>
        <p>Usamos cookies para mejorar la funcionalidad de nuestro sitio web. Las cookies son pequeños archivos que se almacenan en tu dispositivo y permiten que nuestro sitio web recuerde tus preferencias.</p>

        <h3>4. Cómo Compartimos la Información</h3>
        <p>No vendemos ni alquilamos tu información personal a terceros. Podemos compartir tu información con proveedores de servicios externos que nos ayudan a operar nuestro sitio web, procesar pagos, o enviar correos electrónicos.</p>

        <h3>5. Seguridad de la Información</h3>
        <p>Implementamos medidas de seguridad para proteger tu información personal, como encriptación SSL para proteger los datos transmitidos a través de nuestro sitio web.</p>

        <h3>6. Derechos del Usuario</h3>
        <p>Tienes el derecho de acceder, corregir o eliminar tus datos personales. Si deseas hacer uso de estos derechos, puedes contactarnos a través de info@lamuralla.com.</p>

        <h3>7. Retención de Datos</h3>
        <p>Conservaremos tu información personal solo durante el tiempo necesario para cumplir con los fines establecidos en esta política o según lo requiera la ley.</p>

        <h3>8. Cambios a la Política de Privacidad</h3>
        <p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Las actualizaciones serán publicadas en esta página y entrarán en vigor inmediatamente.</p>

        <h3>9. Información de Contacto</h3>
        <p>Si tienes preguntas o inquietudes sobre nuestra política de privacidad, puedes contactarnos a través de info@lamuralla.com.</p>
    </main>
    <footer>
        <div class="footercontainer">
            <div class="footersection1">
                <img src="../images/logo.png" alt="logo La Muralla" width="100" height="100">
                <h4>La Muralla</h4>
                <p>El mejor aceite de oliva virgen extra de Mijas.</p>
                <p>&copy; 2024 La Muralla. Todos los derechos reservados.</p>
            </div>
            <div class="footersection2">
                <h4>Enlaces</h4>
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="galeria.html">Galeria</a>
                    </li>
                    <li>
                        <a href="presupuesto.html">Presupuesto</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                    <li>
                        <a href="politica-priv.html">Política de Privacidad</a>
                    </li>
                    <li>
                        <a href="aviso-legal.html">Aviso Legal</a>
                    </li>
                </ul>
            </div>
            <div class="footersection3">
                <h4>Síguenos</h4>
                <a href="https://www.facebook.com/login/?locale=es_ES" target="_blank"><img src="../images/facebook-svgrepo-com.svg" alt="Logo Facebook" width="20" height="30"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram-svgrepo-com.svg" alt="Logo Instagram" width="30" height="30"></a>
            </div>
        </div>
    </footer>
</body>
</html>
