<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Descubre La Muralla, aceite de oliva virgen extra de variedad verdial, originario de Mijas, Málaga. Calidad y sabor auténtico andaluz en cada gota.
    ">
    <meta name="keywords" content="aceite de oliva virgen extra, aceite mijas, aceite verdial, verdial malaga, aceite saludable, aceite andaluz,">
    <title>Presupuesto | La Muralla</title>
    <link rel="stylesheet" href="../CSS/estilos3.css">
</head>
<body>  
    <header>
        <nav class="nav-bar">
        <a href="../index.html">Inicio</a>
        <a href="galeria.html">Galeria</a>
        <a href="presupuesto.html" class="active">Presupuesto</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <div class="hero">
        <h1>Estamos aquí para ayudarte. Comunícate con nosotros</h1>
        <a href="#formulario" class="enlace">Más información</a>
        <a href="#formulario" class="flecha" ><img src="../images/arrow-circle-down-svgrepo-com.svg" alt="flecha" height="50" width="50"></a>
    </div>
    </header>
    <main>
        <section class="contenido" id="formulario">
            <div class="text">
                <h2>¡Escríbenos!</h2><br>
                <p>Puedes enviarnos un mensaje directamente a través del siguiente formulario. Responderemos lo antes posible para brindarte la mejor antención.</p>
            </div>
            <div class="contenedor">
                <form class="contact-form" name="formulario" method="post" action="envio.html">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email">
                    
                    <label for="telefono">Teléfono</label>
                    <input type="tel" name="telefono" id="telefono" placeholder="Teléfono">
                    
                    <label for="mensaje">Solicite más información</label>
                    <textarea rows="10" name="texto" id="mensaje" placeholder="Mensaje"></textarea>

                    <label for="privacy-policy">Política de Privacidad</label>
                    <input type="checkbox" id="privacy-policy" name="privacy-policy" required>
                    Acepto la <a href="./politica-priv.html" target="_blank">Política de Privacidad</a>
                    
                    <input type="submit" name="boton" value="Enviar">
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div class="footercontainer">
            <div class="footersection1">
                <img class="logo" src="../images/logo.png" alt="logo La Muralla" height="100" width="100">
                <h4>La Muralla</h4>
                <p>El mejor aceite de oliva virgen extra de Mijas.</p>
                <p>&copy; 2024 La Muralla. Todos los derechos reservados.</p>
            </div>
            <div class="footersection2">
                <h4>Enlaces</h4>
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="galeria.html">Galeria</a>
                    </li>
                    <li>
                        <a href="presupuesto.html">Presupuesto</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                    <li>
                        <a href="politica-priv.html">Política de Privacidad</a>
                    </li>
                    <li>
                        <a href="aviso-legal.html">Aviso Legal</a>
                    </li>
                </ul>
            </div>
            <div class="footersection3">
                <h4>Síguenos</h4>
                <a href="https://www.facebook.com/login/?locale=es_ES" target="_blank"><img src="../images/facebook-svgrepo-com.svg" alt="Logo Facebook" width="20" height="30"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram-svgrepo-com.svg" alt="Logo Instagram" width="30" height="30"></a>
            </div>
        </div>
    </footer>
</body>
</html>